<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="Nav-Title">Football Manager</div>
        <div class="Nav-text">
            <a href="my-team.html">My team</a>
            <a href="show-data.html">Data</a>
        </div>
    </nav>

    <div class="players">
        <h2 class="especial-title">Jugadores disponibles</h2>
        <div class="dragDiv" id="playerColumnTeam"></div>
    </div>

    <div class="board">
        <div class="dragDiv titulares" id="goalkeeper"></div>

        <div class="dragDiv titulares" id="defenders"></div>

        <div class="dragDiv titulares" id="midfielders"></div>

        <div class="dragDiv titulares" id="attackers"></div>
    </div>
</body>

</html>