<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="Nav-Title">Football Manager</div>
        <div class="Nav-text">
            <a href="my-team.html">My team</a>
            <a href="show-data.html">Data</a>
        </div>
    </nav>
    <div class="container">
        <div class="teams">
            <h2>Equipos</h2>
            <div id="teamColumn"></div>

        </div>

        <div class="players">
            <h2>Jugadores</h2>
            <div id="playerColumn"></div>
        </div>

        <div class="fav">
            <h2>Favoritos</h2>
            <div id="playerInfo"></div>
        </div>
    </div>
</body>

</html>